{% extends "partials/base.html" %}
{% block title %}Nurse-Admision{% endblock %}
{% load static %}
{% load crispy_forms_tags %} <!--loading crispy forms-->
{% block content %}
     
<!--navbar.html-->
{% include 'partials/nurse_nav.html'%}
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left vh-100">
       <main class="col main overflow-auto">
        <div class="card mt-2 h-100">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Select Theater</label>
                            <select class=" form-control" id="patheater"> 
                                <option value="">-------------</option>                             
                                <option value="All">All</option>                             
                                {% for theater in thr %}
                                <option value="{{theater.Id}}">{{theater.Name}}</option>
                                {%endfor%}                                
                              </select>
                        </div>
                       
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Operation Type</label>
                            <select class=" form-control" id="optype"> 
                                <option value="">-------------</option> 
                                <option value="All">All</option>                            
                                <option value="Emergency">Emergency</option>                             
                                <option value="Elective">Elective</option>   
                              </select>
                        </div>
                       
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">From Date</label>
                                <input type="date" class="form-control" name="" id="admf">
                            </div>                        
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="button" class=" form-control btn btn-success" value="Load">
                                </div>
                            </div>                           
                        </div>
                    </div>              
                    
                </div>
            </div>
            <div class="card-body">
                <div style="max-height:500px;overflow-y:scroll;" >
                    <table class="table table-sm table-striped table-fixed  " id="nursethr">
                      <thead style="position: sticky;top: 0" class="thead-dark">
                        <tr>
                            <th>Request date</th>
                            <th>Patient No</th>
                            <th>Patient Name</th>
                            <th style="word-wrap:break-word;">Procedure</th>                            
                            <th>Procedure Type</th>                            
                            <th>Request Doctor</th>                        
                            <th>Action</th>                                                    
                        </tr>
                        </thead>
                        <tbody id="nursethrbody">
                     
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
         
        </main>
        <!--/main col-->
    </div>

</div>
<!--/.container-->
<script>

    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
   
    $('#admf').val(today);
    $('#admt').val(today);

</script>
<script src="{% static 'js/nurse_adm.js' %}"></script>
<!--footer.html-->
{% include 'partials/footer.html' %}
{% endblock%}