{% extends "partials/base.html" %}
{% block title %}rad-reports{% endblock %}
{% load static %}
{% load crispy_forms_tags %} <!--loading crispy forms-->
{% block content %}
     
<!--navbar.html-->
{% include 'partials/rad_nav.html'%}
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left vh-100">
       <main class="col main overflow-auto">
        <div class="card mt-2 h-100">
            

            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Report Name:</span>
                            </div> 
                            <select name="" class="form-control" id="radrepname">                  
                              <option value="">-----------</option>
                              {% for rep in radrep%}
                              <option value="{{rep.id}}">{{rep.reportName}}</option>
                              {%endfor%}                  
                            </select>
                          </div> 
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">From:</span>
                                    </div> 
                                    <input type="date" class="form-control" name="" id="frdate">
                                  </div> 
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">To:</span>
                                    </div> 
                                    <input type="date" class="form-control" name="" id="todate">
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="button" class="btn btn-sm btn-success" value="Generate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="button" class="btn btn-sm btn-info" value="Export Excel">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="button" class="btn btn-sm btn-warning" value="Export pdf">
                                </div>
                            </div>
                        </div>
                    </div>              
                    
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
         
        </main>
        <!--/main col-->
    </div>

</div>
<script>
    var now = new Date();
   var month = (now.getMonth() + 1);               
   var day = now.getDate();
   if (month < 10) 
       month = "0" + month;
   if (day < 10) 
       day = "0" + day;
   var today = now.getFullYear() + '-' + month + '-' + day;
   $('#frdate').val(today);
   $('#todate').val(today);  
</script>
<!--/.container-->

<!--footer.html-->
{% include 'partials/footer.html' %}
{% endblock%}