   <!--Start of navbar-->
   <nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom">
    <div class="container-fluid">
        <button class="btn btn-dark" id="sidebarToggle">Show/Hide Details</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-4">
                <li class="nav-item active"><a class="nav-link" href="#!">DashBoard</a></li>
                               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu dropdown-menu-end bg-info" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Admissions  &amp; Discharges</a>
                      <a class="dropdown-item" href="#">Consultation Stats</a>
                      <a class="dropdown-item" href="#">Patient Card</a>
                      <a class="dropdown-item" href="#">Diagonistic</a>                      
                      <a class="dropdown-item" href="#">Prescriptions</a>
                      <a class="dropdown-item" href="#">Doctor's workload</a>
                      <a class="dropdown-item" href="#">Diagnosis</a>
                      <a class="dropdown-item" href="#">Referrals</a>
                      <a class="dropdown-item" href="#">Casualty</a>
                      <a class="dropdown-item" href="#">GBV</a>
                      <a class="dropdown-item" href="#">Farewell</a> 
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">Something else here</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <!-- <li class="nav-item active">
                <a class="nav-link text-white" href="#">Register <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item"><a class="nav-link text-white" href="#">Login</a></li>-->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account
                  </a>
                  <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown8">
                      <a class="dropdown-item" href="#">Profile</a>
                      <a class="dropdown-item" href="#">Logout</a>
                  </div>
              </li>
          </ul>


        </div>
    </div>
</nav>
<!--End of Navbar-->

