{% load static %}

<nav class="navbar navbar-dark bg-info navbar-expand-md justify-content-center ">
  <a href="{% url 'sysindex' %}" class="navbar-brand d-flex w-20 mr-auto">TIBASOFT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Out-Patient
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'rec-register' %}">Registration</a></li>
                <li><a class="dropdown-item" href="{% url 'mchregistration' %}">Mch Registration</a></li>          
                <li><a class="dropdown-item" href="{% url 'rec-book-clinic' %}">Clinics &amp; Appointments</a></li>
                <li><a class="dropdown-item" href="{% url 'recChangeMode' %}">Patient Paymode</a></li>          
                <li><a class="dropdown-item" href="{% url 'rec-billing' %}">Billing</a></li> 
                <li><a class="dropdown-item" href="{% url 'rec_upload' %}">Upload Document</a></li> 
                <li><a class="dropdown-item" href="{% url 'recRegisterList' %}">OP Register</a></li> 
              </ul>
            </li>
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                In-Patient
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li> <a class="dropdown-item" href="{% url 'registerInpatient' %}">Admissions</a></li>                                
                <li><a class="dropdown-item" href="{% url 'rec_pat_file' %}">Patient Files</a></li>
                <a class="dropdown-item" href="{% url 'rec-billing' %}">Ip Billing</a>
                <a class="dropdown-item" href="{% url 'rec_ipregister' %}">IP Register</a>
              </ul>
            </li>           
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'rec_report' %}">Reports </a>
            </li> 
            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Reports
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                <a class="dropdown-item" href="{% url 'recRegisterList' %}">Out-patient Visits</a>
                <a class="dropdown-item" href="#">Ward Occupancy</a>
                <a class="dropdown-item" href="#">Admission &amp; Discharges</a>
                <a class="dropdown-item" href="#">MOH 705A</a>
                <a class="dropdown-item" href="#">MOH 705B</a>
                <a class="dropdown-item" href="#">Special clinics</a>         
                <a class="dropdown-item" href="#">Farewell</a>
                <a class="dropdown-item" href="#">Referrals</a>
                
              </div>
            </li>-->
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">logged in as {{user.username}} </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Account</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="#" data-target="#myModal" data-toggle="modal">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>


<!--Sign out modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">HIS Sign Out</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Do you really want to exit from system</p>               
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary-outline btnlogout" >Yes</button>
          </div>
      </div>
  </div>
</div>
<script >  
    $('[data-toggle=offcanvas]').click(function() {
      $('.row-offcanvas').toggleClass('active');
    });

    $('.btnlogout').on('click',function(){
        window.location.href = "{% url 'user-logout' %}";
    })
</script> 

