{% extends "partials/base.html" %}
{% block title %}registration{% endblock %}
{% load static %}
{% load crispy_forms_tags %} <!--loading crispy forms-->
{% block content %}
     
<!--navbar.html-->
{% include 'partials/rec_nav.html' %}
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">    
        <main class="col main  overflow-auto">
          <form action="" id="OpRegForm">
            {% csrf_token %}
          <div class="row my-2">
            <div class="col-md-4 col-sm-4 p-2">
              <h4>Outpatient registration</h4>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <select id="patient_type" name="patient_type" class="custom-select border-danger">
                  <option value="">Select visit type</option>
                  <option value="newPatient">New Patient</option>
                  <option value="revisit">Revisit</option>                   
                 </select>
              </div>
            </div>
            
          </div>       
               
              <div class="row my-2"> 
                <div class="col-sm-4">
                  <div class="card h-100">
                    <div class="card-header">
                      Patient Details
                    </div>
                    <div class="card-body">   
                      <input type="text" hidden name="editPatno" id="editPatno"> 
                               
                      <div class="form-group">
                        <label>Patient Fullname*</label>
                        <input class="form-control" type="text" id="fullname" name="fullname" required>
                      </div>                      
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label>Patient Age*<small>(Years)</small></label>
                            <input class="form-control" type="number" id="age" name="age" min="1" max="150" required >
                          </div>
                        </div>
                        <div class="col-sm-4 mt-3">
                          <small class="text-danger " id="act_years"></small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="">Date of Birth</label>
                        <input type="date" class="form-control form-control-sm" name="dob" id="dob">
                     </div>
                      <div class="form-group">
                        <label>Patient Gender*</label>
                        <select name="gender" id="gender" class="form-control">
                          <option selected>Choose...</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>                    
                        </select>
                    </div>

                    <div class="form-group">
                      <label>Patient IdNo*</label>
                      <input class="form-control" type="number" id="idno" maxlength="8" name="idno" required >
                    </div>
                    <div class="form-group">
                      <label>Patient PhoneNo*</label>
                      <input class="form-control" type="number" id="phone" minlength="10" maxlength="10" name="phone" required>
                    </div>

    
                  </div>
                </div>
                </div> 
                  <div class="col-sm-4">
                    <div class="card h-100">
                      <div class="card-header">
                        Other Details
                      </div>
                      <div class="card-body">
                        <div class="form-group">
                          <label>County of Residence*</label>
                          <select name="county" id="county" class="form-control">
                            <option selected>choose...</option>
                            {% for county in county %}
                            <option value="{{county.county_name}}">{{county.county_name}}</option>
                            {% endfor%} 
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Sub-county*</label>
                          <select name="scounty" id="scounty" class="form-control">
                            <option selected>choose...</option>                        
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Locality(village)*</label>
                          <input class="form-control" type="text" id="residence" name="residence"  required>
                        </div>
                        <div class="form-group">
                          <label>Next of Kin Fullname*</label>
                          <input class="form-control" type="text" id="nokname" name="nokname" required>
                        </div>
                        <div class="form-group">
                          <label>Next of Kin Phone*</label>
                          <input class="form-control" type="number" id="nokphone" minlength="10" maxlength="10" name="nokphone" required>
                        </div>
                        <div class="form-group">
                          <label>Relation to Patient*</label>
                          <select name="relation" id="relation" class="form-control">
                            <option value="none" selected>Choose...</option>
                            {% for rel in relation %}
                            <option value="{{rel.relName}}">{{rel.relName}}</option>
                            {%endfor%}                    
                          </select>
                      </div>
                    </div>
                  </div>
                  </div>
    
    
                  <div class="col-sm-4">
                    <div class="card h-100">
                      <div class="card-header">
                        Visit Details
                      </div>
                      <div class="card-body">
                        <div class="form-group">            
                          <label>Clinic to visit*</label>
                          <select id="pos" name="pos" class="form-control">
                            <option selected>........</option>
                            {% for point in pos %}
                            <option value="{{point.clinic_name}}">{{point.clinic_name}}</option>
                            {% endfor%}                    
                          </select>
                        </div>

                        <div class="form-group">            
                          <label>Category*</label>
                          <select id="pcat" name="pcat" class="form-control">
                            <option selected>........</option>
                            {% for cat in category %}
                            <option value="{{cat.categoryName}}">{{cat.categoryName}}</option>
                            {% endfor%}                    
                          </select>
                        </div>

                        <div id="pdiv">
                          <div class="form-group">
                            <label>Today's Paymode*</label>
                            <select name="ppaymode" id="ppaymode" onchange="check_paymode()" class="form-control">
                              <option selected>.......</option>
                              <option value="Non-scheme">Non-scheme</option>
                              <option value="Scheme">Scheme</option>                    
                            </select>
                          </div>
                          <div class="form-group">
                            <label>scheme name*</label>
                            <select name="pscheme" id="pscheme" class="form-control"><!--Should be fetched dynamically from background-->
                              <option selected>........</option>
                              {% for item in schemes %}
                              <option value="{{item.sub_name}}">{{item.sub_name}}</option>
                              {% endfor%} 
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Claim/Member No.*</label>
                            <input class="form-control" type="text" id="mbNumber" name="mbNumber">
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class="col-sm-6">
                            <input class=" btn btn-success " id="btnSubmit" type="button" value="Save Patient Data">
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div> 
    
                </div>          
            </form>

        </main>
        <!--/main col-->
    </div>

</div>
<!--/.container-->
<!-- revisit mode Modal -->
<div class="modal fade " id="revisitModal" tabindex="-1" role="dialog" aria-labelledby="revisitModal" aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="revisitModalLongTitle">Search by Patient's CardNo/IDnumber</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="patno" >
          </div>         
        </form>  
        <table class="table table-hover tableOutput">
          <thead>
            <tr>
              <th scope="col">CardNo</th>
              <th scope="col">Fullname</th>
              <th scope="col">Gender</th>
              <th scope="col">Age</th>
              <th scope="col">IdNumber</th>
              <th scope="col">Phone no</th>
              <th scope="col">Residence</th>
            </tr>
          </thead>
          <tbody class="rs-table-body">

          </tbody>
        </table>           
      </div>
      </div>
  </div>
</div>
<!--end of revisit modal-->

<!-- alert Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="paymodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="alert hidden" role="alert" id="modalAlert"></div> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
    </div>
  </div>
</div>
<!--end of modal-->

<!--Bill modal-->


<div class="modal fade" id="bmodal" tabindex="-1" role="dialog" aria-labelledby="bmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-top modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5>Add consultation bill</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" name="" id="ppid" disabled hidden>
            <input type="text" name="" id="ppvno" disabled hidden>
            <input type="text" name="" id="msg" disabled hidden>
            
          </div>
          <div class="col-sm-12">
            <table class="table table-hover table_seach_bill" id="table_seach_bill">
              <thead>
                <tr>
                  <th scope="col">Service Name</th>
                  <th scope="col">None-Scheme Cost</th>
                  <th scope="col">Scheme Cost</th>
                  <th scope="col">Service Point</th>
                </tr>
              </thead>
              <tbody class="bill_body">
    
              </tbody>
            </table> 
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <input type="button" value="Save Bill" class="btn btn-success btnsaveBill">
          </div>
          <div class="col-sm-4"></div>
        </div>  
                
      </div>       
    </div>
  </div>
</div>
<script src="{% static 'js/op_register.js' %}"></script>
<!--footer.html-->
{% include 'partials/footer.html' %}
{% endblock%}