{% extends "partials/base.html" %}
{% block title %}records-billing{% endblock %}
{% load crispy_forms_tags %} <!--loading crispy forms-->
{% load static %}
{% block content %}
     
<!--navbar.html-->
{% include 'partials/rec_nav.html' %}
   <div class="container-fluid">
     <div class="row my-2">
          <div class="col-md-12">
            <div class="border p-3 bg-white">
               <div class="row">
                <div class="col-sm-3">
                  <div class="input-group input-group-sm mb-3">                                                            
                    <div class="input-group-prepend">
                      <span class="input-group-text">From:</span>
                    </div> 
                    <input type="date" id="dfrom" class="form-control"> 
                  </div>          
                </div>
                <div class="col-sm-3">                  
                  <div class="input-group input-group-sm mb-3">                                                            
                    <div class="input-group-prepend">
                      <span class="input-group-text">To:</span>
                    </div> 
                    <input type="date" id="dateto" class="form-control">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group input-group-sm mb-3">                                                            
                    <div class="input-group-prepend">
                      <span class="input-group-text">Clinic</span>
                    </div> 
                    <select id="ClinicName"  class="form-control">
                      <option selected>----------</option>
                      <option value="all">All</option>
                      {% for point in pos %}
                      <option value="{{point.clinic_name}}">{{point.clinic_name}}</option>
                      {% endfor%}                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-group input-group-sm mb-3">                                                            
                        <div class="input-group-prepend">
                          <span class="input-group-text">Count:</span>
                        </div> 
                        <input type="text" id="sumClients" readonly class="form-control" value="{{count}}">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <button class="btn btn-sm btn-success form-control">excel</button>
                    </div>
                  </div>                                   
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" id="searchlist" class="form-control" placeholder="filter by card no/name/clinic">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 " style="max-height:600px;overflow-y:scroll;">
               
                  <table class="table table-hover table-sm" id="registerListTbl">
                    <thead style="position: sticky;top: 0" class="thead-dark">
                      <tr>                     
                        <th scope="col">Visit DateTime</th>
                        <th scope="col">card number</th>
                        <th scope="col">patient name</th>
                        <th scope="col">Age</th>                    
                        <th scope="col">Gender</th>                 
                        <th scope="col">PayMode</th>                 
                        <th scope="col">Visit Type</th>                 
                        <th scope="col">Clinic Name</th>                 
                        <th scope="col">Record By</th>                 
                      </tr>
                    </thead>
                    <tbody class="ListTblBody">
                      {% for item in patList %}
                       <tr>
                        <td>{{item.visit_date}}({{item.visit_time}})</td>
                        <td>{{item.op_number.op_number}}</td>
                        <td>{{item.op_number.fullname}}</td>
                        <td>{{item.op_number.patient_age}}</td>
                        <td>{{item.op_number.gender}}</td>
                        <td>{{item.subname.sub_name}}</td>
                        <td>{{item.visit_type}}</td>
                        <td>{{item.clinic_name.clinic_name}}</td>
                        <td>{{item.staff.username}}</td>
                      </tr>                    
                      {% endfor%}
          
                    </tbody>
                  </table>
                </div>

              </div>       
       
           </div>          
           
           </div>
        </div>
     </div>
   <!--end of  clinical booking Form-->
   <script src="{% static 'js/recRegisterList.js' %}"></script>
   <script>

    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#dfrom').val(today);
    $('#dateto').val(today);
  
  </script>

{% endblock%}